{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
<div class="container mt-3 pt-3">
    <h3 class="text-center">Welcome to Edvora Test Assignment</h3>
    
    <div class="pt-3">
        
        <h5 class="text-center">{{name.upper()}}</h5>
    </div>
    <div class="pt-3">
        
        <a style="text-decoration: none;" href="/changepassword"><h5 class="text-center">Change Password</h5></a>
        
    </div>
<a href="/logout">Logout</a>
</div>
{% endblock body %}